@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*html 헤드에 쓰지마라 진짜
css에서는 바디에 쓰지 말고*/
/*이렇게 상단에 폰트 링크를 호출하는 것을 cdm
cdm을 자주 호출하면 용량 과부하*/
/*그래서 한줄에다 추가하는 방법이 있다
아까 링크에 우측바에 토스트가 되있는 상태에서 새로운 폰트를 검색 후
그 상태에서 새로운 폰트를 선택 앞에서 와 같이 사용 할 사이즈
를 골라 selcet this style를 하면 우측바에 토스트가
되있는 import링크에 추가가 된다 그 링크를 복사하여 
css 상단에 cdm을 다시 붙여넣기 해준다.  */
h1,
h2,
h3{
    font-family: Nanum Gothic;
}
/*폰트 이름을 css에 붙이는 방법은
나중가면 자주써서 타이핑으로 가능하지만
지금은 초보이기 때문에 아까 페이지 우측의 토스트한
부분에서 css부분의 CSS rules to specify families에서 
font-family: 'font name'만 이부분만 복사를 해서 여기에
붙여 넣기를 해준다*/

h1{
font-weight: 800;
}
h2{
font-weight: 700;
}
h3{
font-weight: 400;
}
/*너가 이런식으로 폰트 너비 같은 스타일을 지정을 안해주면
즉 selct this style을 안하면 기본적으로 selct this style을
한 값보다 큰 닶을 불러오는데
이러면 폰트가 미워진다 그래서 위에 방식으로 font-weight를 불러와
직접 지정을 해준다.*/
/*기울이기는 그냥 냅다 추가하지말고 따로 cdm에 불러와서 사용
을 해러???*/
/*굵을 수록 폰트 사이즈를 적은 것을 사용(타이틀 같은데 굵기
강조를 하지마라 강조는 반드시 하나만 하는 것이다. 강조에
강조를 하면 오히려 비강조가 되버림)*/
/*웨이트 너비가 내려 갈수록 사이즈는 큰 것을 사용*/

h4,
h5,
h6{
    font-family: 'Noto Sans KR', sans-serif;
}
/* 위와 똑같이 CSS rules to specifyfamilies에서
font-family: 'font name'만 복사를 해서 여기에
붙여 넣기를 해준다
*/

h4{
font-weight: 900;
}
h5{
font-weight: 500;
}
h6{
font-weight: 100;
}
/*글씨가 작으면 작을수록 폰트는 굻게 크면 클수록 얇게*/
/*https://fonts.google.com/ 카테고리  
탭에서 분류 용도에 맞게 사용을 하고
특징이 명확한 것은 용도에 맞게 사용 보통은 본문용*/

p{
    font-family: 'Noto Sans KR'; font-size: 14px;
    font-weight: 500;
}

p.letter{
letter-spacing: 10px;
}
/*letter spacing이 자간*/
/*letter spacing -1px;는
가독성을 높여줘 귀여움을 주는 글자들이 몇몇 있는데 응집을 줘
귀여움을 준다 대신 -1만 -2 -3 등등 쓰지말 것 */
p.word{
word-spacing: 10px;
}
/*word- spacing은 단간*/
/*한글에 부적합하여 자주 쓰지는 않는다.*/

p[class^='w_']{
    border: 2px solid red;
}

p.w_nomal1{
width: 150px; white-space: normal; line-height: 21px;
}
/*with 너비에 맞춰 자동으로 줄바꿈
디폴트 값으로 궅이 white-space normal 쓸 필요는 없다.
하지만 아래  whote space: noworp를 되돌릴때 써야하니
알고 있어라*/
p.w_nowrap1{
width: 150px; white-space: nowrap; 
}
/*공간을 벗어나 텍스트를 출력한다*/
/*보통 모바일에서 많이 사용*/
p.w_nowrap2{
    width: 150px; white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden; width: 150px; 
}
/*text-overflow: ellipsis;
overflow: hiddenl width:150px;
라고 쓰면 내용...으로 출력*/

.v_alignTest img{
    width: 200px; height: 200px;
    vertical-align: middle;
}
/*수직정렬을 가운데로 맞춰서 많이 쓴다*/

/*계층구조에 적용이 불가능한 경우가 있다
수직상에서 정렬을 하기 위해서 서로 동등하거나
디스플레이가 최소 인라인 상태거나 인라인 블럭인
상태여야 한다.*/

/*
디스플레이 속성
디스플레이 요소
블럭 위스 100%무조건 >>> div 공간태그 같은거 
인라인 >> 텍스트 적 느낌 a태그? 텍스트
인라인 블럭  고체적 이미지 느낌 이미지나 사진*/

/*vertical-align: 
/*baseline 제일 밑라인 기준
bottom
top
midde 알아야한다.


inherit 보모가 가지고 있는 속성 값을 인계받는다
revert 라인 밑으로 들어간다
text bottom
text top == 텍스트끼리 상단 기준을 잡을 때
unset 디폴트 값으로 적용을 시켜준다
퍼센트를 정해줘 미세하게 적용 할 수 있지만 
하이트 높이를 사용하지마라 

? baseline: 문자의 밑선에 맞추어 정렬
	? middle: 문자의 중앙을 기준으로 해서 정렬
	? sub : 아래첨자
	? super : 위 첨자
	? text-top:문자의 윗선을 밑선으로 해서 정렬
	? top: 위쪽에 정렬
	? bottom : 아래쪽 정렬
    ? % : 퍼센트로 정렬 위치를 지정*/

.v_alignTest span{
vertical-align: 10%;
}
/*절대 좌표는 0,0은 좌측 상단 양수! 방향키 상당으로 입력해주면
높이가 올라가고
음수 (방향키 아래로) 입력을 해주면 내려간다*/
p.t_indent{
    text-indent: 15px;
    font-size: 35px;
}

button.indentText{
    background: url('https://via.placeholder.com/150x50?text=blabla');
    border: none; width: 150px; line-height: 50px;
    text-indent: -9999px;
}
/*눈이 안보이는 사람은 css를 없는 상태에서 웹을 이용한다
css가 꺼진 상태에서 택스트만 읽고
css가 켜진 경우는 이미지가 뜬다.*/

a{
    display: block; line-height: 30px;
}
/*a태그는 인라인 태그이기 때문에*/
/*그래서 블럭으로 바꿔주면 위에서 아래로 떨어진다*/
a.t_deco_N{
text-decoration: none; text-transform: none; color: #090;
}
/*a태그는 인라인*/


/*후처리*/
a.t_deco_U{
text-decoration: underline; text-transform: lowercase;
}
/*lowercase 강제 소문자 변환*/

a.t_deco_O{
text-decoration: overline; text-transform: capitalize;
}
/*capitalize 첫글자 대문자 변환*/

a.t_deco_T{
text-decoration: line-through; text-transform: uppercase;
}
/*uppercase 대문자  line-through중앙 밑줄*/

p.DR_ltr{
direction: ltr;
}
/*왼쪽 정렬 기본값*/
p.DR_rtl{
direction: rtl;
}

/*오른쪽 정렬*/