html,
body{
    height: 100%;
}
/*원페이지 기본 세팅*/
body{
    margin: 0; padding: 0;
}
/*불필요한 오차를 줄이기 위해 초기화*/

/*css의 c는 카슼케이팅 
종속시키다 위에서 아래는 가능하지만 아래서 위는 힘들다*/
.wrap{
 height: 100%;   
 background-color: skyblue;
}

p{
    margin: 0; padding: 15px;
    background-color: black;
}

/*태그 안에 태그가 있는 경우 엄마 코드를 아들 코드가 밀어내기
때문에 공백이 생김*/
/*background 태그만 단독으로 쓰지 말아라 (여러가지 속성을
사용 할 경우가 아니 고서는 )*/
/*만약 background태그만 단독으로 css에 사용할 경우 
부하가 생겨 비효율적인 퍼포먼스를 보여 난리가 난다*/