*{
    margin: 0; padding: 0;
}
h1{
    text-align: center; margin-bottom: 20px;
}
ul{
    width: 640px; margin: 0 auto;
}/*margin 0 auto 640이 넘지 않는 것은 중앙 배치
그리고 640 넘는 남는 값은 2분의 1을 나누어서 양 옆에 배치*/

ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
ul li{
    float: left; display: block; width: 160px; height: 140px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
}
ul li strong{
    background-color: rgba(0,0,0,0.5); color: white;
}
ul li.captin{background-position: 0px 0px;}/*x축,y축*/
ul li.wolverine{background-position: -160px 0px;}
ul li.thor{background-position: -320px 0px;}
ul li.ironman{background-position: -480px 0px;}
ul li.spiderman{background-position: 0px -140px;}
ul li.superman{background-position: -160px -140px;}
ul li.rangerRed{background-position: -320px -140px;}
ul li.rangerBlue{background-position: -480px -140px;}
/*모니터 좌측 상단기준 안보이는 쪽 마이너스 보이는 곳 +*/
/*크롬에서 sprite image 다운 받아서 연습 */
/*모션을 만들때 사용한다*/