@charset "utf-8";
/*css document*/

html{
    font-size: 15px;
}
body{
    margin: 0;
}

.wrap{
    width: 75rem; background-color: #fcf; margin: 0 auto;
}
.wrap header{line-height: 3rem; background-color: #c30;}

.wrap section:after{
    content:''; display: block; visibility: hidden; clear: both;
}
.wrap section aside
{float:left; width:20rem; line-height:30rem; background-color:#0ff;}

.wrap section article
{float:left; width:55rem; line-height:30rem; background-color:#fc6;}

.wrap footer{height:3rem; background-color:#3c6;}

/* 즉 html에 지정한 폰트 사이즈 x ((n)rem)이라고 생각하면 편하다
rem으로 지정된 수를 html 폰트 사이즈를 곱한다 
마진이든 어디든 가능*/